@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-headline: var(--headline);
  --font-arimo: var(--font-arimo);
  --font-open-sans: var(--font-open_sans);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --foreground: #464646;
  --headline: #000;


  --card: #ffffff;
  --card-foreground: #232425;

  --popover: #ffffff;
  --popover-foreground: #000000;

  --primary: #C4C93B;
  --primary-foreground: #fff;

  --secondary: #977F37;
  --secondary-foreground: #C4C93B;

  --muted: #f7f7f8;
  --muted-foreground: #807e83;

  --accent: #735D2B;
  --accent-foreground: #fff;

  --destructive: #bb4430;

  --border: #ebeaec;
  --input: #ebeaec;

  --ring: #9d9ca4;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-open-sans;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headline);
  font-weight: 700 !important;
  line-height: 1.2em;
}

h1 {
  font-size: 80px;
  line-height: 1.1em;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 15px;
  line-height: 1.75;
}

@media (max-width: 999px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 55px;
    line-height: 1.1em;
  }

  h2 {
    font-size: 36px;
  }

  h3{
    font-size: 28px;
  }

  p{
    font-size: 14px;
  }
}

@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 10px;
    @media (width >=40rem

      /* 640px */
    ) {
      max-width: 40rem
        /* 640px */
      ;
      padding-inline: 14px;
    }

    @media (width >=48rem

      /* 768px */
    ) {
      max-width: 48rem
        /* 768px */
      ;
      padding-inline: 20px;
    }

    @media (width >=64rem

      /* 1024px */
    ) {
      max-width: 64rem
        /* 1024px */
      ;
    }

    @media (width >=80rem

      /* 1280px */
    ) {
      max-width: 80rem
        /* 1280px */
      ;
    }

    @media (width >=96rem

      /* 1536px */
    ) {
      max-width: 1400px
        /* 1536px */
      ;
    }
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-spacing {
    padding-block: 130px;
  }

  .section-spacing-b {
    padding-bottom: 130px;
  }

  .section-spacing-t {
    padding-top: 130px;
  }


  @media (max-width: 650px) {
    .section-spacing {
      padding-block: 90px;
    }

    .section-spacing-b {
      padding-bottom: 90px;
    }

    .section-spacing-t {
      padding-top: 90px;
    }
  }
}

/* Base dots */
.hero-slider .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  color: #999;
  opacity: 0.7;
  transition: all 0.3s ease;
}

/* Active dot */
.hero-slider .swiper-pagination-bullet-active {
  background-color: #fff !important;
  /* white */
  opacity: 1;
}

@media (max-width: 768px) {
  .hero-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}